[
  (
    name: "infix_expr_mul",
    source: "10 * 300",
    expected: [
      Expr(InfixExpr((
        lhs: IntLit(10),
        op: Mul,
        rhs: IntLit(300),
      ))),
    ],
  ),

  (
    name: "infix_expr_eq",
    source: "10 == 300",
    expected: [
      Expr(InfixExpr((
        lhs: IntLit(10),
        op: Eq,
        rhs: IntLit(300),
      ))),
    ],
  ),

  (
    name: "call_expr",
    source: "fibonacci(n - 10)",
    expected: [
      Stmnt(Ret((
          val: IntLit(0),
      )))
    ],
  ),

  (
    name: "return_stmnt",
    source: "return 0;",
    expected: [
      Stmnt(Ret((
          val: IntLit(0),
      )))
    ],
  ),

  (
    name: "if_expr",
    source: "if n < 0 then return 0; end;",
    expected: [
      Expr(If((
        condition: InfixExpr((
          lhs: Ident("n"),
          op: Lt,
          rhs: IntLit(0),
        )),
        consequence: Block(
          nodes: [Stmnt(Ret((val: IntLit(0))))],
        ),
      )))
    ],
  ),

  (
    name: "expr_list",
    source: "10, 20, 30, fourty, 50",
    expected: [
      Expr(IntLit(10)),
      Expr(IntLit(20)),
      Expr(IntLit(30)),
      Expr(Ident("fourty")),
      Expr(IntLit(50)),
    ],
  ),
]
