[
  (
    name: "list_expr",
    source: "[10, 20, 30, fourty, 50];",
    expected: [
      Expr(List((items: [IntLit(10), IntLit(20), IntLit(30), Ident("fourty"), IntLit(50)] )))
    ]
  ),

  (
    name: "return_stmnt",
    source: "return 0;",
    expected: [
      Stmnt(Ret((
          val: IntLit(0),
      )))
    ],
  ),

  (
    name: "fn_stmnt",
    source: "func main() -> Int\nreturn 0;\nend",
    expected: [
      Stmnt(Fn((
        name: "main",
        is_extern: false,
        args: [],
        return_ty: Int,
        body: Some(Block(
          nodes: [
            Stmnt(Ret((val: IntLit(0))))
          ],
        )),
      )))
    ],
  ),

  (
    name: "struct_declr",
    source: "struct Point = x : Int, y : Int end",
    expected: [
      Stmnt(Struct((
          ident: "Point",
          fields: [
              (
                  ident: "x",
                  ty: Int,
              ),
              (
                  ident: "y",
                  ty: Int,
              ),
          ],
      ))),
    ]
  )
]
