[
  (
    name: "infix_expr_mul",
    source: "10 * 300",
    expected: [
      Expr(Infix((
        lhs: IntLit(10),
        op: Mul,
        rhs: IntLit(300),
      ))),
    ],
  ),

  (
    name: "infix_expr_eq",
    source: "10 == 300",
    expected: [
      Expr(Infix((
        lhs: IntLit(10),
        op: Eq,
        rhs: IntLit(300),
      ))),
    ],
  ),

  (
    name: "infix_expr_and",
    source: "10 and 20",
    expected: [
      Expr(Infix((
        lhs: IntLit(10),
        op: And,
        rhs: IntLit(20),
      ))),
    ],
  ),

  (
    name: "call_expr",
    source: "fibonacci(n - 10)",
    expected: [
      Expr(Call((
        func: Ident("fibonacci"),
        args: [Infix ((
          lhs: Ident("n"),
          op: Sub,
          rhs: IntLit(10),
        ))],
      )))
    ],
  ),

  (
    name: "if_expr",
    source: "if n < 0 then return 0; end;",
    expected: [
      Expr(If((
        condition: Infix((
          lhs: Ident("n"),
          op: Lt,
          rhs: IntLit(0),
        )),
        consequence: Block(
          nodes: [Stmnt(Ret((val: IntLit(0))))],
        ),
      )))
    ],
  ),

  (
    name: "expr_list",
    source: "10, 20, 30, fourty, 50",
    expected: [
      Expr(IntLit(10)),
      Expr(IntLit(20)),
      Expr(IntLit(30)),
      Expr(Ident("fourty")),
      Expr(IntLit(50)),
    ],
  ),

  (
    name: "return_stmnt",
    source: "return 0;",
    expected: [
      Stmnt(Ret((
          val: IntLit(0),
      )))
    ],
  ),

  (
    name: "fn_stmnt",
    source: "func main() -> int\nreturn 0;\nend",
    expected: [
      Stmnt(Fn((
        ident: "main",
        args: [], 
        return_ty: "int",
        body: Block(
          nodes: [
            Stmnt(Ret((val: IntLit(0))))
          ],
        ),
      )))
    ],
  ),
]
